:root{
    --primary-color: rgb(205,25,24);
    --text-primary-color: rgb(255, 255, 255);
}

/* Header */
a{
    text-decoration: none;
}
.container-header{
    width: 100%;
    height: 150px;
    z-index: 2;
    top: 0;
    position: fixed;
    border-bottom: 1px solid black;
}
.content-header-top{
    width: 100%;
    height: 30px;
    background-color: var(--primary-color);
}
.content-header-child-top{
    margin: 0 250px;
    display: flex;

}
.header-item-call {
    cursor: pointer;
}
.btn-call{
    display: flex;
}
.btn-call p {
    color: white;
}
.call-icon{
    height: 17px;
    margin-right: 10px;
    color: white;
}
.btn-call p {
    margin: 5px 2px;
}
.tb-ship{
    color: white;
    margin-left: 20px;
    margin-top: 5px;
}
.content-header-bottom{
    background-color: white;
    height: 100px;
    width: 100%;
}
.content-header-child-bottom{
    border: 1px solid red;
    background-color: white;
    margin: 0 250px;
    display: flex;
    justify-content: space-around;
}
.content-header{
    padding: 0 0;
    margin: 5px 220px;
    display: flex;
    justify-content: space-between;
}
.logo{
    background-color: red;
}
.logo img {
    width: 100px;
    height: 70px;
}
.header-item-category{
    width: 230px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px;
    left: 320px;
    top: 100px;
}
.btn-category{
    width: 225px;
    height: 50px;
    color: var(--text-primary-color);
    display: flex;
    cursor: pointer;
    font-weight: bold;
    padding-left: 60px;
    position: relative;
    z-index: 2;
    background-color: var(--primary-color);
    padding-top: 5px;
}
.btn-category-change{
    color: black;
}
.container-category{
    width: 220px;
    position: relative;
    top: -450px;
    height: 0;
     transition: 0.7s ease;
}
.show {
    transform: translateY(450px);  
    height: 380px; 
}
.arow-category{ 
    max-height: 30px;
    margin-top: 7px;
    transition: 0.3s ease;
}
.arow-chage-category{
    transform: rotateZ(-180deg)
}
.icon{
    font-size: 17px;
    color: white;
    margin-top: 5px;
}
.btn-category p {
    margin: 10px 2px;
}
.header-item-search{
    background-color: white;
    height: 36px;
    width: 340px;
    margin: 2px 10px;
    border-radius: 10px;
    display: flex;
    margin-top: 15px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
}
.search-left{
    background-color: var(--primary-color);
    width: 40px;
    font-size: 25px;
    padding: 0 5px;
    color: white;
    margin-right: 5px;
}
.icon-search{
    margin-bottom: 5px;
}
.header-item-search input{
    border: none;
    outline: none;
    height: 30px;
    width: 250px;
    margin-top: 3px;
}
.search-close{
    cursor: pointer;
}
.header-box-right{
    width: 200px;
    display: flex;
}
.btn-order{
    margin: 10px 4px;
}
.order-icon {
    font-size: 25px;
    margin: 7px 13px;
}
.btn-order:hover{
   color: var(--primary-color);
}
.header-item-order{
    cursor: pointer;
}
.header-item-cart{
    cursor: pointer;
}
.btn-cart{
    margin: 10px 10px;
    font-size: 25px;
}
.btn-cart:hover{
   color: var(--primary-color);
}
.header-item-username{
    display: flex;
    margin: 10px 3px;
    color: black;
    background-color: #F5F5F5;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    overflow: hidden;
    padding: 0 4px;
}
.header-item-username:hover{
    background-color: #e1dddd;
}
.header-item-username p {
    margin: 3px 10px;
    line-height: 20px;
    color: black;
    font-weight: bold;
}
.user-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    top: 50px;
    right: 10px;
    z-index: 3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.user-dropdown a, .user-dropdown button {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
}

.user-dropdown button:hover {
    background: #f5f5f5;
}
.login-p{color: white;}
/* Category*/
.category{
    width: 218px;
    height: 364px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
}
li {
    list-style: none;
    padding: 10px 10px;
    color: black;
    margin-right: 50px;
    font-weight: bold;
    min-width: 100px;
}
.item-li:hover{
    background-color: rgb(230,233,233);
    color: rgb(226,72,76);
}
.item-category{
    display: flex;  
}
.item-category:hover{
    background-color: rgb(230,233,233);
}
.icon-item-category{
    margin-top: 10px;
    color: black;
    font-size: 30px;

}
/*Banner*/
.container-slider{
    width: 1020px;
    height: 425px;
    margin-top: 80px;
    margin-left: 250px;
    overflow: hidden;
}
.slider {
    display: flex;
}
.btn-right, .btn-left {
    color: var(--primary-color);
    border: none;
    width: 30px;
    height: 30px;
}
.btn-container{
    display: flex;
    width: 1020px;
    justify-content: space-between;
    position: relative;
    top: -235px;
    left: 250px;
}
.container-indicator{
    position: relative;
    left: 600px;
    top: -70px;
    display: flex;
    margin-top: 20px;
    width: 300px;
    justify-content: space-around;
}
.btn-left, .btn-right{
    background-color: #f7f3f360;
}
.indicator{
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.show-indicator{
    background-color: var(--primary-color);
}
  
/* OutStandingProduct */
.container-outStanding{
    max-width: 1070px;
    margin: 0 220px;
    overflow: hidden;
    perspective: 1000px;
   position: relative; 
}
.container-outStanding h3 {
    position: absolute;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 30px;
    background-color: var(--primary-color);
    color: white;
    height: 50px;
    padding: 10px 10px;
    left: 350px;
    font-weight: bolder;
}
.title-outStanding{
    background-color: #4c5256;
    width: 900px;
    height: 150px;
    border-radius: 10px;
    transform: rotateX(18deg);
    margin-left: 90px; 
}
.content-outStading{
    background-image: linear-gradient(to right, rgb(158, 233, 227), rgb(252,205,173));
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
    position: relative;
    top: -50px;
    overflow: hidden;
}
.title-box-product {
    margin: 20px 20px;
    display: flex;
    width: 1000px;
    justify-content: space-between;
}
.title-box-product h2 {
    font-weight: bold;
}
.title-box-product button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}
.title-box-product button:hover {
    background-color: var(--primary-color);
    color: white;
}
/* Footer */
.container-footer{
    background-color: #f9f9f9;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1198px;
    margin: 5px 220px;
}
.footer-column {
    width: 24%;
}
.footer-column h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
.footer-column p, .footer-column a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    line-height: 1.6;
}
.footer-column a:hover {
    text-decoration: underline;
}
.footer-column .payment-methods img,
.footer-column .social-icons img,
.footer-column .member-websites img {
    width: 40px;
    margin-right: 5px;
}
.footer-column .qr-codes img {
    width: 100px;
    margin-right: 10px;
}
.footer-column .subscribe-form input[type="email"],
.footer-column .subscribe-form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.footer-column .subscribe-form input[type="checkbox"] {
    margin-right: 5px;
}
.footer-column .subscribe-form button {
    width: 100%;
    padding: 10px;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.footer-column .subscribe-form button:hover {
    background-color: #b71c1c;
}
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }
}
/* indexUser */
.button-scroll-top{
    background-color: rgb(228,95,97);
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
    padding: 10px 0px;
    cursor: pointer;
    position: fixed;
    top: 600px;
    left: 90%;
}
.icon-scroll{
    margin-left: 17px;
}
/* Product */
.container-detail {
    max-width: 1198px;
    margin: 100px 220px;
}
.banner-detail {
    overflow: hidden;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.banner {
    border-radius: 10px;
    height: 100px;
    width: 530px;
    overflow: hidden; 
}
.banner img {
    height: 100px;
}
.brand-selection {
    margin: 20px 0;
}
.item-brand {
    display:  flex;
}
.box-brand{
    width: 110px;
    height: 30px;
    border: 1px solid black;
    overflow: hidden;
    margin-right: 10px;
    padding: 3px 0;
    cursor: pointer;
}
.item-brand img {
    width: 100%;
    height: 20px;
}
.product-filter {
    display: flex;
}
.btn-filter {
    margin-right: 10px;
    background-color: rgb(243,244,246);
    width: 143px;
    height: 30px;
    padding: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}
.active {
    background-color: rgb(254,242,242);
    color: rgb(215,0,68);
    border: 1px solid rgb(215,0,68);
}
/* ProductDetail */
.alert{
    background-color: #F3F6F8;
    width: 300px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 80%;
    z-index: 2;
    border-radius: 10px;
    padding: 10px 20px;
    transition: opacity 0.5s ease-in-out;
    display: block;
    overflow: hidden;
}
.alert::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: shrinkBar 5s linear forwards;
}
@keyframes shrinkBar {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
.container-ProductDetail{
    max-width: 1198px;
    margin: 10px 220px;
    overflow: hidden;
}
.product-detail{
    margin-top: 70px;
}
.icon-product-detail{
    color: rgb(245,158,11);
}
.container-title {
    display: flex;
}
.container-title h4 {
    margin-right: 10px;
    margin-top: 2px;
}
.wrapper-product {
    display: flex;
    margin: 30px 0;
}
.label-detail-product{
    display: flex;
    width: 370px;
    margin-left: 100px;
}
.label-detail-product button{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    margin: 0 20px;
}
.label-detail-product button:hover {
    background-color: #b71c1c;
}
.container-productImage {
    width: 603px;
    height: 395px;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
}
.container-productImage img {
    margin-left: 100px;
}
.overlay{
  position: fixed;   
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;      
  background: rgba(0, 0, 0, 0.6); 
  z-index: 999; 
  position: absolute; 
}
.container-specification {
    border-radius: 10px;
    width: 500px;
    height: 550px;
    overflow: hidden;
    box-shadow: 0 0 5px 5px rgb(215, 215, 215);
    position: absolute;
    top: 100px;
    background-color: white;
    left: -800px;
    transition: 0.5s ease;
}
.specification-show{
    transform: translateX(860px);
}
.specification-table-top {
    height: 45px;
    border-bottom: 1px solid grey;
    background-color: rgb(243,246,248);
    color: var(--primary-color);
    display: flex;
}
.specification-table-top h4 {
    margin-top: 10px;
    margin-left: 135px;
    font-weight: bolder;
}
.btn-close-box-specification {
    border: 1px solid var(--primary-color);
    height: 30px;
    width: 30px;
    color: white;
    background-color: var(--primary-color);
    padding: 4px 8px;
    margin-left: 88px;
    cursor: pointer;
}
.btn-close-box-specification:hover{
    background-color: #b71c1c;
}
.specification-table-bottom {
    overflow-y: scroll;
    height: 460px;
}
.table-bottom {
    margin: 10px 20px;
}
.table-detail {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(220, 218, 218);
}
.td-title {
    width: 150px;
}
.btn-container-product {
    display: flex;
    margin-left: 150px;
    margin-bottom: 100px;
}
.btn-buy {
    padding: 10px 12px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: rgb(215,0,24);
    cursor: pointer;
}
.btn-buy:hover{
    background-color: rgb(228,95,97);
}
.btn-addCart {
    height: 50px;
    padding: 10px 12px;
    margin-left: 40px;
    border-radius: 5px;
    color: white;
    background-color: rgb(215,0,24);
    cursor: pointer;
}
.btn-addCart:hover{
    background-color: rgb(228,95,97);
}
.container-productDetail-right{
    max-width: 500px;
}
.content-price-productDetail{
    background-color: rgb(242,247,255);
    border: 1px solid rgb(105,159,250);
    width: 300px;
    height: 90px;
    overflow: hidden;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 20px 20px;
}
.price-detail-product{
  font-size: 22px;
  margin-right: 20px; 
  font-weight: bolder; 
}
.discount-detail-product{
    text-decoration: line-through;
    font-size: 16px;
    color: rgb(161,161,170);
}
.box-version-product-detail{
    border: 2px solid;
    width: 100px;
    text-align: center;
    height: 40px;
    padding-top: 5px;
    border-radius: 5px;
    margin: 10px 10px;
}
.selectBox {
    border-color: var(--primary-color);
}
.container-version-product-detail {
    margin: 0 20px;
    font-weight: bolder;
    cursor: pointer;
}
.content-version-product-detail{
    display: flex;
    flex-wrap: wrap;
}
.box-color-product-detail{
    border: 2px solid;
    max-width: 180px;
    min-height: 50px;
    text-align: center;
    height: 40px;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 10px 10px;
    display: flex;
}
.img-color-product-item {
    width: 30px;
    height: 30px;
}
.selectBoxColor {
    border-color: var(--primary-color);
}
.container-comment {
    border: 1px solid red;
    height: 500px;
}
/* Order */
.container-order {
    margin: 100px 220px;
    padding: 0 300px;
    background-color: rgb(243,246,248);
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}
.container-order h4 {
    font-weight: bold;
    margin-left: 200px;
}
.container-order-product {
    width: 600px;
    height: 155px;
    border-radius: 5px;
    display: flex;
    background-color: white;
}
.left-order-product {
    margin: 20px 20px;
}
.left-order-product img {
    width: 117px;
    height: 117px;
}
.center-order-product {
    width: 350px;
    height: 117px;
    margin-top: 20px;
}
.p-buy {
    display: inline;
    color: rgb(215,0,24);
}
.p-discount {
    display: inline;
    margin-left: 20px;
    text-decoration: line-through;
}
.rigth-order-product {
    margin: 20px 0;
}
.container-number {
    width: 100px;
    height: 50px;
    overflow: hidden;
    display: flex;
    margin-top: 20px;
}

.btn-delete {
    width: 30px;
    cursor: pointer;
    font-size: 25px;
}
.container-total {
    height: 60px;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 5px 5px rgb(215, 215, 215);
    border-radius: 5px;
    position: absolute;
    top: 620px;
    display: flex;
    overflow: hidden;
    padding: 5px 10px;
    justify-content: space-between;
    z-index: 1;
}
/* Information  */
.container-form {
    margin: 100px 500px ;
    width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}
.header-form {
    background-color: rgb(220, 218, 218);
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}
.form-group {
    padding: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: rgb(228,95,97);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: rgb(215,0,24);
    
}
.vnpay-result-container {
    margin: 100px 500px;
    height: 200px;
}
/* ListOrder */
.container-order {
    width: 1200px;
}
.content-order{
    width: 720px;
}
.limited table{
    width: 700px;
}
.limited{
    overflow-y: scroll;
    height: 100%;
    margin-top: 20px;
}
.th-id {
    width: 120px;
}
.th-st {
    width: 200px;
}
/* OrderDetail */
.img-detail {
    width: 100px;
    height: 100px;
}
.content-orderDetail{
    width: 900px;
}
.container-orderDetail {
    width: 900px;
    margin: 100px 300px;
}
.th-nd{
    width: 300px;
}
.tb-dt{
    min-width: 880px;
}
/* Form Login */
.conatainer-form {
    margin: 100px 400px;
}
.content-form{
    overflow: hidden;
    margin: 10px 100px;
    box-shadow: 0px 0px 5px 5px rgb(230,233,233);
    border-radius: 10px;
    text-align: center;
}
.input-login {
    display: block;
}
.block input{
    margin: 20px 100px;
    width: 320px;
}
.logbtn {
    margin-bottom: 10px;
}
/*Hot Sale*/
.container-hotSale{
    margin-left: 225px;
    perspective: 1000px;
    position: relative;
}
.top-sale {
    background-color: #a7d0e4;
    width: 900px;
    height: 150px;
    border-radius: 10px;
    transform: rotateX(55deg);
    margin-left: 90px;
}
.content-hotSale{
    width: 1070px;
    height: 500px;
    position: relative;
    top: -64px;
    background-image: linear-gradient(to right, rgb(254,223,220), rgb(191,207,252));
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}
.header-hotSale{
    background-color: var(--primary-color);
    color: white;
    height: 50px;
    width: 300px;
    position: relative;
    top: 80px;
    z-index: 1;
    left: 380px;
    border-top: 1px solid;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: bold;
    font-size: 20px;
}
.header-hotSale p {
    margin-top: 10px;
    margin-left: 40px;
}
.time-container-hotSale{
    height: 50px;
    width: 900px;
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.day-sale{
    background-color: var(--primary-color);
    color: white;
    font-size: 25px;
    margin: 0 10px;
    padding: 0 5px; 
}
/* Box product */
.container-box{
    max-width: 1070px;
    overflow: hidden;
    padding-top: 20px;
    background-color: none;
}
.slider-box-product {
    display: flex;
    width: 100%;
}
.container-button-slider-product{
    position: relative;
    top: -220px;
    width: 1118px;
    left: -25px;
    display: flex;
    justify-content: space-between;
}
.btn-left-product{
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 27px;
    padding-left: 20px;
    color: var(--primary-color);
    background-color: #929191;
}
.btn-right-product{
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 27px;
    padding-right: 20px;
    color: var(--primary-color);
    background-color: #929191;
}
.hidden-btn {
    opacity: 0.3;
}

/* Product */
.container-product-item{
    box-shadow: 0px 0px 5px 5px rgb(230,233,233);
    width: 226px;
    min-height: 400px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 20px;
    background-color: white;
}
.info{
    display: flex;
    justify-content: space-between;
    height: 25px;
    position: relative;
}
.info .info-percent {
    color: rgb(224,15,32);
}
.info-discount{
    background-color: rgb(224,15,32);
    color: white;
    height: 25px;
    padding-left: 10px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    border-radius: 5px;
    left: 20px;
}
.triangle-up-discount{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #B22222;
  position: absolute;
  top: -9px;
  left: 13px;
}
.image-product{
    min-height: 140px;
    margin-top: 20px;
    transition: transform 0.5s ease; 
}
.image-product img {
    width: 130px;
    height: 130px;
    margin-left: 40px;
}
.scale-image{
    transform: scale(1.2);   
}
.product-title {
    min-height: 90px;
    max-height: 90px;
    padding: 0 7px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    
}
.product-price {
    line-height: 10px;
    padding-left: 10px;
    font-size: 17px;
    color: red;
    font-weight: bold;
    line-height: 10px;
    display: flex;

}
.discount-price {
    color: rgb(112,112,112);
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 13px;
    font-weight: normal;
}
.product-description {
    padding: 5px 5px;
    background-color: rgb(239,233,254);
    color: rgb(78,35,182);
    font-size: 13px;
    margin: 0 5px ;
    height: 68px;
    min-height: 60px;
    overflow: hidden;
    border-radius: 5px;
}
.product-detail-view {
    font-size: 17px;
    margin-left: 20px;
    width: 120px;
    background-color: rgb(239,233,254);
    color: rgb(97,26,178);
}
.name-product-detail{
    font-size: 20px;
    font-weight: bolder;
}