/* Admin */
:root {
    --primary-color: rgb(205, 25, 24);
    --text-primary-color: rgb(255, 255, 255);
}

.container-admin {
    display: flex;
    width: 100%;
}

.content {
    padding: 20px;
    box-sizing: border-box;
    max-height: 670px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.content h2 {
    font-family: Tahoma, sans-serif;
    color: var(--primary-color);
    font-weight: bold;
}

.search-product {
    text-align: end;
    margin-right: 100px;
}

.box-containt-table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow-y: auto;
    width: 100%;
    margin-top: 10px;
    max-height: 550px;
}

.list-product table th {
    background-color: #22668b;
    color: white;
    font-size: 15px;
    position: sticky;
    top: -1px;
}

.list-category table th {
    background-color: #22668b;
    color: white;
    font-size: 15px;
    position: sticky;
    top: -1px;
}

.list-brand table th {
    background-color: #22668b;
    color: white;
    font-size: 15px;
    position: sticky;
    top: -1px;
}



/* Siderbar */
body {
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    background: white;
    color: black;
    box-sizing: border-box;
    display: inline-block;
    min-height: 695px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
}

.sidebar h4,
h5 {
    text-align: center;
    background: var(--primary-color);
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: black;
}

li i {
    font-size: 23px;

}

span i {
    font-size: 23px;
}

.sidebar ul li {
    padding: 10px 5px;
    color: black;
}

.c-li {
    width: 160px;
}

.sidebar li:hover {
    background: rgb(233, 48, 48);
    color: white;
}

.sidebar li {
    width: 220px;
}

.dropdown:hover {
    background: rgb(172, 7, 7);
    color: white;
    cursor: pointer;
}

.dropdown a:hover {
    background-color: white;
    color: rgb(34, 49, 58);
    ;
}

.sidebar span {
    padding-left: 10px;
    color: #FF8C00;
    font-size: large;
}

.sidebar ul li ul {
    padding-left: 20px;
}

.display-username h5 {
    background-color: transparent;

}

/* AddCategory */
.header-add {
    background-color: #cbd5e0;
    padding: 10px;
    height: 50px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1200px;
}

.form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-container form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #cbd5e0;
    border-radius: 4px;
}

.form-container form .full-width {
    grid-column: span 2;
}

.form-container form .gender-container {
    display: flex;
    align-items: center;
}

.form-container form .gender-container select {
    margin-left: 10px;
}

#productImage,
#imageBrand {
    height: 50px;
}

.button-add {
    height: 40px;
    width: 100px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 7px;
    margin-left: 500px;
    border-radius: 10px;
    cursor: pointer;
    border-color: green;
}

.button-add:hover {
    background-color: darkgreen;
}

.notification-success {
    background-color: #228b22;
    color: white;
    height: 30px;
    padding-left: 30px;
    padding-top: 5px;
    transition: opacity 0.5s ease-in-out;
    display: block;
    position: relative;
    overflow: hidden;
}

.notification-success::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: orange;
    animation: shrinkBar 5s linear forwards;
}


@keyframes shrinkBar {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.notification-error {
    background-color: red;
    color: white;
    height: 30px;
    padding-left: 30px;
    padding-top: 5px;
}

/* ListCategory */
.content table {
    margin-bottom: 0;
}

.limited {
    overflow-y: scroll;
    height: 100%;
    margin-top: 20px;
}

/* Product Detail */
.detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.box-detail-container {
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    font-weight: bolder;
    border: 1px solid black;
    background-color: #FF8C00;

}

.box-detail-container h6 {
    margin-top: 10px;
    font-weight: 400;
    color: var(--primary-color);
    font-size: large;
    font-family: Tahoma, sans-serif;
}

.content-box-detail {
    max-height: 550px;
    overflow: auto;
    width: 100%;

}

.table-product {
    max-width: 100%;
}

.table-product td {
    font-weight: 100;
}


.table-product .col-table-product {
    width: 10px;
}

.frame-image {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: auto;
}

.frame-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.DetailStudent-container img {
    width: 400px;
    height: 395px;
}

.DetailStudent-content {
    margin-left: 50px;
    font-size: larger;
}

.DetailStudent-content span {
    font-weight: bolder;
}

/* ListOrder */
.container-listOrder {
    width: 1200px;
    margin: 40px 30px;
}

.content-listOrder {
    width: 1250px;
    height: 600px;
    overflow-y: hidden;
}

.list-orderTable {
    min-width: 1200px;
}

/* Box xác nhận đơn hàng */
.container-accept-common {
    position: absolute;
    left: 500px;
}

.conetainer-accept-common .show-box {
    display: block;
}

.hidden-box {
    display: none;
}

.container-select-accept {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    overflow: hidden;
    background-color: #cbd5e0;
}

.container-select-accept h5 {
    color: white;

}

.content-select-accept {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.content-select-status {
    background-color: #FF8C00;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

.content-select-status:hover {
    background-color: #de7b02;
    cursor: pointer;
}

.content-select-pay {
    background-color: #00c2ed;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

.content-select-pay:hover {
    background-color: #018ad3;
    cursor: pointer;
}

.container-select-accept-status-order {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    overflow: hidden;
    background-color: #cbd5e0;
    text-align: center;
}

.container-select-accept-status-order h5 {
    background-color: #FF8C00;
    color: white;
}